<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "img.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Aryan Singh</h1>
		<p>Welcome to my Page, I am a noob.</p>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>I love myself</p>
	</div>
</div>